name: Release

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: write # to create release tags (cycjimmy/semantic-release-action)
      issues: write # to post release that resolves an issue
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      matrix:
        node-version: [24]

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node LTS version
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"

      ## --- YARN CACHE --- ##
      - name: Check for cached dependencies
        continue-on-error: true
        id: cache-dependencies
        uses: actions/cache@v5
        with:
          path: |
            .cache/yarn
            node_modules
          key: ubuntu-latest-node${{ matrix.node-version }}-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v6.0.0
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: Cassondra Roberts
          GIT_AUTHOR_EMAIL: castastrophe@users.noreply.github.com
          GIT_COMMITTER_NAME: Cassondra Roberts
          GIT_COMMITTER_EMAIL: castastrophe@users.noreply.github.com
